/* CSS Document */
body {
    font-family: arial, sans-serif;
    background-image: url("images/marble.jpg");
    background-color: #cccccc;
}
h1 {
    color: green ;
    text-align: center ;
}

table {
  
  border-collapse: collapse;

}
table {
  width: 80%;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  border-radius: 10px;

}

.ordinacni_hodiny {
    text-align: center;
}
