/* CSS Document */
body {
    font-family: arial, sans-serif;
    background-image: url("images/marble.jpg");
    background-color: #cccccc;
}
h1 {
    color: green ;
    text-align: center ;
}

table {
  
  width: 80%;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  border-radius: 10px;
  text-align: auto;
  margin: 50px auto;

}


.ordinacni_hodiny {
    text-align: auto;
}

.peca_v_bilem {
  /*margin: 50px auto;*/
  text-align: center;
}